* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  font-family: sans-serif;
}

div,
section,
span,
ul,
li,
a,
header {
  box-sizing: border-box;
}

/*css reset*/

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  position: fixed;
  z-index: 999;
}
header img {
  width: 90px;
  position: sticky;
}
.navBar {
  background-color: #d9d9d9;
}
#menu li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

#menu li a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

section {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}

#home {
  background-image: url(/images/Yusha.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}
/*--------------------------------------------------------------------------------------------------*/
#about {
  background: url(/images/townships-1.jpg) no-repeat left;

  background-size: 65%;
  background-color: #d9d9d9;
  overflow: hidden;
  padding: 100px 0;
}

.inner-section {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 140px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}
.inner-section h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}
.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}
.vision button {
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
  border: none;
  border-radius: 20px;
  padding: 8px;
  width: 200px;
  background-color: #00999c;
  color: white;
  cursor: pointer;
}
.vision button:hover {
  transition: 1s;
  background-color: #ecf5f5;
  color: #3c2c3e;
}

@media screen and (max-width: 1200px) {
  .inner-section {
    padding: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .about {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-section {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about {
    padding: 0;
  }
  .inner-section {
    padding: 60px;
  }
  .vision button {
    font-size: 19px;
    padding: 5px;
    width: 160px;
  }
}

/*media Quiries for this section*/
/*--------------------------------------------------------------------------------------------------*/
#img {
  background-image: url(/images/slider-4.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}
/*--------------------------------------------------------------------------------------------------*/
#Service {
  background-color: #d9d9d9;
  background-repeat: no-repeat;
  background-position: right;
}

.text2 {
  text-align: center;
  padding: 20px;
  float: right;
  border: 40px;
  width: 500px;
  text-align: justify;
  margin-right: 130px;
  margin-top: 250px;
}

.seriveP img {
  float: left;
  margin-left: 30px;
  margin-top: 130px;
  padding-top: 40px;
}

.vouchertext img {
  float: right;
}

.vouchertext {
  text-align: center;
  padding: 20px;
  float: right;
  border: 50px;

  width: 450px;
  text-align: justify;

  margin-right: 150px;
}

/*--------------------------------------------------------------------------------------------------*/
#Registration {
  background-color: #ccc7cb;

  width: 100%;
  height: 100%;
}
#msform {
  width: 35%;
  margin: 5% auto;
  text-align: center;
  position: relative;
  background: white;
  z-index: 1;
}

#msform fieldset {
  background: white;
  border: 0 none;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: -40px 0;
  position: relative;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;

  background: #ff512f;
  background: -webkit-linear-gradient(to right, #f09819, #ff512f);
  background: linear-gradient(to right, #f09819, #ff512f);
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ff512f;
}

.fs-title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 15px;
  color: #666;
  margin-bottom: 20px;
  background: white;
  z-index: 0;
}

#progressbar {
  margin-bottom: 40px;
  overflow: hidden;
  counter-reset: step;
  padding: 20px 20px;
}

#progressbar li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 14px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 15px;
  color: #333;
  border-radius: 50px;
  margin: 0 auto 5px auto;
  padding: 8px;
  background: #fff;
  border: 1px solid #ff512f;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: -50%;
  top: 15px;
  z-index: -1;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
  color: white;

  background: #ff512f;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f09819, #ff512f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f09819, #ff512f);
}
/*--------------------------------------------------------------------------------------------------*/
#Foresight {
  background-color: #d9d9d9;
  background-image: url(/images/area.gif);
}

/* ui-block*/
.background:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-size: 100% 100%;

  width: 150%;
  height: 150%;
  top: -20px;
  left: -20px;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  background-repeat: no-repeat;
}

.content {
  height: 400px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: white;
  -webkit-box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
}

.x1 {
  width: 700px;
  height: 500px;
  background-color: #9cb1ff;
  left: 0;
  top: 0;
  position: relative;
  line-height: 20px;
  background-image: url(/images/foresight.png);
}

.block {
  -webkit-animation: scaledown 1s linear;
  -moz-animation: scaledown 1s linear;
  animation: scaledown 1s linear;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

.block:hover {
  z-index: 100;
  -webkit-animation: scale 1s linear;
  -moz-animation: scale 1s linear;
  animation: scale 1s linear;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    -webkit-box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
  }
}

@keyframes scaledown {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
/*--------------------------------------------------------------------------------------------------*/
/*Section*/
#Support {
  background-color: #ccc7cb;
  text-align: center;
  padding-top: 8%;
}

.column {
  float: left;
  width: 30%;
  padding: 60px;
  padding-top: 5%;
}

/* Clearfix */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*--------------------------------------------------------------------------------------------------*/
#Buy-Tokens {
  background-color: #d9d9d9;
}
.image-container {
  text-align: center;
}

.image-container img {
  display: inline-block;
  width: 30%;
  margin: 10px;
  padding-top: 5%;
}

.buytokens {
  text-align: center;
  padding-top: 5%;
}
